.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swap {
  background-color: #0E0D14;
  width: 500px;
  position: relative;
  margin: 50px auto;
}

/* Pseudo-element for the animated border */
.swap::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 5px solid transparent;
  box-sizing: border-box;
  animation: borderAnimation 2s linear infinite;
  pointer-events: none;
  animation-delay: 5s;
}

/* Border animation keyframes */
@keyframes borderAnimation {
  0% {
    border-top: 3px solid #7EECF6;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
  }
  25% {
    border-top: 3px solid transparent;
    border-right: 3px solid #7EECF6;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
  }
  50% {
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #7EECF6;
    border-left: 3px solid transparent;
  }
  75% {
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #7EECF6;
  }
  100% {
    border-top: 3px solid #7EECF6;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
  }
}

.header {
  padding: 20px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.header p {
  font-family: "Kode Mono", monospace;
  font-size: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.header p span {
  background-color: #7EECF6;
  color: #0E0D14;
}

.swap_form {
  padding: 20px;
}

.swap_1 {
  background-color: #1E1E1E;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.form_1 {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  max-width: 150px;
}

.form_1 label {
  color: #777777;
  font-size: 15px;
}

.input_1 {
  font-size: 20px;
  color: #fff;
  background-color: #1E1E1E;
  border: none;
  font-weight: 600;
  outline: none;
}

.amount_selectors {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  color: #6F6D7A;
}

.amount_selectors p:hover {
  cursor: pointer;
  color: #fff;
}

.emoji_selector_1 {
  font-size: 20px;
  padding: 5px;
  background-color: #6F6D7A;
  border-radius: 4px;
  max-width: min-content;
  margin-bottom: 10px;
  cursor: pointer;
}

.side_box {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  color: #6F6D7A;
  max-width: min-content;
}

.options {
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  align-items: center;
  font-size: 12px;
}

.checkbox {
  appearance: none;
  background-color: #000;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #fff;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #7EECF6;
}

.checkbox:checked::before {
  transform: scale(1);
}

.swap_button {
  color: #000;
  background-color: #50823A;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  border: none;
  cursor: pointer;
}

.swap_button:hover {
  background-color: #2e4b21;
}

.liqudity {
  display: flex;
  gap: 5px;
}

.connect_button {
  color: #000;
  background-color: #7EECF6;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  border: none;
  cursor: pointer;
}

.connect_button:hover {
  background-color: #3ea7b0;
}

.swapped {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 500px) {
  .swap {
    width: 380px;
  }
}